/bin/
/.settings/
.classpath
.project
*.iml
.idea
target
dependency-reduced-pom.xml
/mcserver/*.jar
/mcserver/.*
/mcserver/b*
/mcserver/c*
/mcserver/h*
/mcserver/l*
/mcserver/o*
/mcserver/p*
/mcserver/s*
/mcserver/u*
/mcserver/v*
/mcserver/w*